<!-- Page heading -->
<div class="page-head">
  <!-- Page heading -->
  <h2 class="pull-left">Billing
    <!-- page meta -->
    <span class="page-meta">Report</span>
  </h2>

  <div class="clearfix"></div>

</div>
<!-- Page heading ends -->



<!-- Matter -->

<div class="matter">
  <div class="container-fluid">
    <h1>Page is under developement</h1>
  </div>
</div>

<!-- Matter ends -->