.error-message {
    color: #fa3031;
    font-weight: bold;
}

.control-group .time_schedule, .control-group .date_schedule1 {
	float: left;
	    width: 100%;
}

.control-group .date_schedule {
	float: left;
	width: 89%;
}

#DateRange {
	width: 100%;
}

.control-label span {
	color: red;
}

.selectBox {
    background: none repeat scroll 0 0 #eee;
    padding: 20px;
    margin-top: 9px;
    position: relative;
}

.selectBox label {
    color: #333;
    font-size: 13pt;
    padding-bottom: 5px;
}


.selectBox select {
    font-size: 16pt !important;
    height: auto;
    width: 100%;
}

.selectBox input {
    font-size: 16pt !important;
    height: 29px !important;
    margin: 0;
    width: 96%;
}

.sb-btn {
    margin-top: 10px;
}

.positionBoxWrap {
	display: none;
}

.relieverBox, .otBox, .relieverBox1, .otBox1 {
    display: none;
}

a.backBtn {
    background: none repeat scroll 0 0 #3498db;
    color: #fff;
    font-size: 23px;
    line-height: inherit;
    padding: 0 5px;
}

.totalBox span {
    color: #000;
}


.totalBox .tb-lbl {
    display: inline-block;
    width: 160px;
}

.ajaxBox {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ccc;
    padding: 10px;
    position: absolute;
    width: 86.5%;
    display: none;
    max-height: 500px;
    overflow-y: scroll;
}

.ajaxBox ul {
    margin:0;
}

.ajaxBox ul li {
    font-size: 11pt;
    list-style: outside none none;
    padding: 10px;
    cursor: pointer
}

.ajaxBox ul li:hover, .ajaxBox ul li.hov {
    background: #3498db;
    color: #fff;
    transition: all 500ms ease;
}

.ajaxEmpty {
    color: #ddd;
    font-size: 13pt;
    font-weight: bold;
    text-align: center;
}


.perSb.weekRange > span {
    display: inline-block;
    vertical-align: middle;
}

.perSb select {
    display: inline-block;
    margin-left: 10px;
    margin-top: 11px;
    vertical-align: middle;
    width: 320px !important;
}

.rangeSelectBox {
    background: none repeat scroll 0 0 #eee;
    padding: 5px 15px;
    position: relative;
    margin-bottom: 30px;
}

.perSb {
    float: left;
    margin-right: 20px;
}

.perSbBtn {
    float: right;
    margin-left: 12px;
    margin-top: 12px;
}

.weeksTotalWrap, .daysTotalWrap {
    position: absolute;
    right: 0;
    width: 290px;
    display: none;
}

.payrollAddNotif {
    display: none;
}

.omitWrapper {
    display: none;
}

.loaderBox {
    color: #ccc;
    font-size: 5em;
    padding: 20px;
    text-align: center;
}

.scrollVertical {
    overflow-x: scroll;
    width: 100%;
}

.tblBorder table {
    border-top: 1px solid #ddd !important;
}

.tac {
    text-align: center !important;
}

.borderLeftFirst td:first-child{
    border-left: 1px solid #ddd !important;
}

.vam {
    vertical-align: middle !important;
}

.nighttd {
    color: #fff;
    background: #666;
}

.tblvs {
    overflow-x: scroll;
}

.table tbody tr:nth-child(even) {
    background: #f7f7f7;
}

.table tbody tr:hover {
     background: #FFFAD8;
     color: #000;
     font-weight: bold !important;
}

.fl {
    float: left;
}

.fl.fl-pay {
    margin-left: 1%;
}

.strong {
    font-weight: bold !important;
}

.perTotalTitle {
    background: #dedede none repeat scroll 0 0;
    color: #000;
    font-size: 11pt;
    font-weight: bold;
    margin: 10px 0;
    padding: 5px 15px;
}

.grossfield, .totalGross.bold, .totalNetPay, .totalnetfield {
    font-size: 13pt;
}

.perTotalBox .fl span {
    display: inline-block;
    margin-left: 0;
    width: 30%;
}

.omitDatetbl {
    color: #000;
    font-size: 8pt;
    display: block;
}

.hrsWorkTd {
    text-align: center !important;
}
.tblAttendance thead tr td {
    font-size: 8pt;
    text-align: center;
}

.perTotalBox .fl {
    width: 49.5%;
}
.noData {
  color: #000;
  font-size: 2em;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
}

.grandTR td {
    font-weight: bold;
}

.grandTR {
    background: #fff !important;
}

.filter-table > input {
    border: 1px solid #000;
    font-size: 15pt;
    height: auto;
    margin: 0;
    padding: 8px;
    width: 98.9%;
}
.filter-table {
    margin: 0 !important;
    padding: 0 !important;
}

.perSb.dayRange select {
    width: 170px !important;
}

.attendanceFile .input.file {
    display: inline;
    margin-left: 5px;
}

.attendanceFile .input.file input[type="file"] {
    padding-left: 5px;
}