* {
    margin: 0;
    padding: 0;
}

.A4Portrait {
  background-color: white;
  box-shadow: 0 0 20px rgba(50, 50, 50, 0.29);
  margin: 40px auto;
  padding: 0;
  width: 29.71800cm;
  min-height: 41.91cm;
  font-size: 9pt;
}

body {
    background-color: #f7f7f7;
    color: #000 !important;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix {
    clear: both;
}

.followerPrint {
  background: #f14141 none repeat scroll 0 0;
  box-shadow: -2px 1px 6px rgba(0, 0, 0, 0.5);
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  padding: 13px 25px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99999;
}

.perPayslip {
    float: left;
    width: 33.3%;
}

.Mainholder, .advanceCont {
  padding: 1%;
  border: 1px dashed;
}

.Mainholder {
  padding: 15px 1%;
  position: relative;
}

.advanceCont {
  font-weight: bold;
  font-size: 10pt;
  padding-left: 20px;
}

.advanceCont span:nth-child(3) {
    padding-left: 98px;
}

.name {
    border-bottom: 1px solid;
    overflow: hidden;
    text-overflow: ellipsis;
}

.header {
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.header span {
    display: block;
    font-size: 8pt;
    font-weight: normal;
}

.details {
    font-size: 12px;
}

.details span{
  display: inline-block;
}

.dateToday {
  text-align: center;
}

.dateBox tbody tr td {
    border-right: 1px solid #ccc;
    font-size: 11px;
    padding-top: 5px;
    text-align: center;
}

.dateBox thead tr {
    background: #ddd none repeat scroll 0 0;
    color: #000;
}

.dateBox thead tr td {
  font-size: 11px;
  text-align: center;
}


.dateBox {
    border-bottom: 1px solid #000;
    margin: 10px 0 5px;
    padding-bottom: 5px;
}


.dateBox table {
    width: 100%;
}

.dateBox tbody tr td.nightShift {
    background: #ccc none repeat scroll 0 0;
    color: #000;
}

.detailsWrap ul {
    margin: 0;
    padding: 0 5px;
}
.detailsWrap li {
    list-style: outside none none;
    border-top: 1px solid #ccc;
}
.detailsWrap li:first-child {
    border-top: 0;
}
.detailsWrap li.total {
    border-color: #000;
    font-weight: bold;
}
.detailsWrap > div {
    width: 50%;
}
.detailsTitle {
    background: #ddd none repeat scroll 0 0;
    text-align: center;
    text-transform: uppercase;
}
.detailsWrap ul li span:nth-child(1) {
    float: left;
}
.detailsWrap ul li span:nth-child(2) {
    float: right;
}

.dateBox tbody tr {
    border-bottom: 1px solid #ccc;
}
.dateBox tbody tr:last-child {
    border-bottom: 0 none;
}


.printOptionBox {
    background: #ccc none repeat scroll 0 0;
    margin: 20px auto 0;
    padding: 10px;
    width: 960px;
}

.payslipCounter {
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 10px;
}

.pagebreak {
  page-break-after: always;
}

@media print {
    .followerPrint,.printOptionBox, #debug-kit-toolbar {
      display: none;
    }
    .A4Portrait {
        padding: 0 !important;
    }
    body, html {
      margin: 0px;
      padding: 0px;
    }
    @page {
      size:auto;
      margin: 0mm;
      padding: 0mm;
    }

}
