* {
    margin: 0;
    padding: 0;
}

.A4Portrait {
  background-color: white;
  box-shadow: 0 0 20px rgba(50, 50, 50, 0.29);
  margin: 40px auto;
  padding: 0;
  width: 29.71800cm;
  font-size: 9pt;
}

body {
    background-color: #f7f7f7;
}

.clearfix {
    clear: both;
}

.widget-head {
    background: #eee none repeat scroll 0 0;
    font-size: 12pt;
    font-weight: bold;
    padding: 10px;
}

.A4Portrait.A4Report {
    padding: 10px;
}

.header {
    font-size: 13pt;
    font-weight: bold;
    text-align: center;
}
.header span {
    font-size: 10pt;
}

.infoBox {
    border: 1px solid #777;
    margin: 20px 0;
    padding: 10px;
}
.perLabel span {
    display: inline-block;
}
span.title {
    font-weight: bold;
    margin-right: 10px;
    text-align: right;
    width: 60px;
}

.table-bordered th, .table-bordered td {
    border-left: 1px solid #777;
}

.table th, .table td {
    border-top: 1px solid #777;
}

.table-bordered {
    border-color: #777;
    border-radius: 0;
}

.widget-head {
    background: #eee none repeat scroll 0 0;
    border: 1px solid #777;
}

.table-bordered thead:first-child tr:first-child > th:first-child, .table-bordered tbody:first-child tr:first-child > td:first-child, .table-bordered tbody:first-child tr:first-child > th:first-child {
    border-top-left-radius: 0;
}

.reportMainTitle {
    font-size: 12pt;
    font-weight: bold;
    margin: 20px 0;
    text-align: center;
}

@media print {
    .A4Portrait {
        padding: 0 !important;
    }
}
