<!-- Page heading -->
<div class="page-head">
    <!-- Page heading -->
    <h2 class="pull-left">Admin
<!-- page meta -->
<span class="page-meta">Dashboard</span>
</h2>

    <div class="clearfix"></div>

</div>
<!-- Page heading ends -->



<!-- Matter -->

<div class="matter">
    <div class="container-fluid">

    </div>
</div>

<!-- Matter ends -->
